extends ../../templates/template.jade

block head
  title= 'Apache Maven'
  meta(description= 'ぺーぺーSEのブログのまとめページ。Mavenのページ。')

block content
  ol.breadcrumb
    li
      a(href="/menu.html")= 'Menu'
    li
      a(href="/language/java.html")= 'Java'
    li.acrive
      a(href="/language/tool/maven.html")= 'Apache Maven'
  article
    header
      h2= 'Apache Maven'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= 'プロジェクト作成コマンド'
        p= 'mvn archetype:generate -DarchetypeArtifactId=maven-archetype-quickstart'