extends ../../templates/template.jade

block head
  title= 'Apache Maven'
  meta(description= 'ぺーぺーSEのブログのまとめページ。Mavenのページ。')

block content
  ol.breadcrumb
    li
      a(href="/menu.html")= 'Menu'
    li
      a(href="/language/java.html")= 'Java'
    li.acrive
      a(href="/language/tool/maven.html")= 'Apache Maven'
  article
    header
      h2= 'Apache Maven'
    section
      h3= 'プロジェクト作成コマンド'
      br
      p= 'Quick Start for DOS'
      pre.prettyprint
        code.lang-bsh
          | mvn archetype:generate ^
          |     -DarchetypeGroupId=org.apache.maven.archetypes ^
          |     -DarchetypeArtifactId=maven-archetype-quickstart ^
          |     -DgroupId=org.sample ^
          |     -DartifactId=sample ^
          |     -Dversion=1.0-SNAPSHOT
      br
      p= 'Quick Start for Linux'
      pre.prettyprint
        code.lang-bsh
          | mvn archetype:generate \
          |     -DarchetypeGroupId=org.apache.maven.archetypes \
          |     -DarchetypeArtifactId=maven-archetype-quickstart \
          |     -DgroupId=org.sample \
          |     -DartifactId=sample \
          |     -Dversion=1.0-SNAPSHOT