extends ../templates/template.jade

block head
  title= 'AWS'
  meta(description= 'ぺーぺーSEのブログのまとめページ。AWSのページ。')

block content
  article
    header
      h2= 'AWS'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= '未整理リンク'
        br
        a(href="http://dev.classmethod.jp/cloud/aws/vpc-knowhow-2014-04/")= '【AWS】VPC環境構築ノウハウ社内資料 2014年4月版'
        br
        a(href="http://qiita.com/hiroshik1985/items/6433d5de97ac55fedfde")= '0から始めるAWS入門：概要'
        br
        a(href="http://dev.classmethod.jp/cloud/aws/usage-memory-in-tomcat-to-cloudwatch/")= 'Tomcatの使用メモリ量をCloudWatchで表示する'
        br
        a(href="http://dev.classmethod.jp/cloud/aws/aws-shellscript-summary/")= 'AWSで構築した環境にありがちなシェルスクリプトたち まとめ'
        br
        a(href="http://www.atmarkit.co.jp/ait/articles/1509/01/news030.html")= 'AWS＋オンプレのハイブリッドクラウドな大規模検索基盤ではImmutable InfrastructureとCI／CDをどうやって実践しているのか'
        br
        a(href="http://www.slideshare.net/akitsukada/aws-for-startups-2016-20151202")= 'AWS for Startups 2016 (2015/12/02版)'
        br
        a(href="http://dev.classmethod.jp/cloud/aws/cm-advent-calendar-2015-aws-re-entering-rds/")= 'AWS再入門 Amazon RDS編'
        br
        a(href="http://qiita.com/gujauja/items/fa0e17b4ba307871cd21")= 'AWS箇条書きナレッジ'
        br
        a(href="http://www.slideshare.net/tsh22enm/aws-iot-iot")= '５分でわかるAWS IoT！ - あなたも今日からIoT生活 -'
        br
        a(href="http://www.slideshare.net/shimy_net/aws-elastic-beanstalk-23314834")= 'AWS Elastic Beanstalk（初心者向け 超速マスター編）JAWSUG大阪'
        br
        a(href="http://d.hatena.ne.jp/cero-t/touch/20160106/1452090214")= 'AWS Lambda + Javaは、なぜ1回目と3回目の処理が重いのか？'
        br
        a(href="http://www.slideshare.net/AmazonWebServicesJapan/awswebinar-aws-56679485")= 'AWS初心者向けWebinar これで完璧、AWSの運用監視'
        br