extends ../../templates/template.jade

block head
  title= 'Ruby on Rails'
  meta(description= 'ぺーぺーSEのブログのまとめページ。Ruby on Railsのページ。')

block content
  ol.breadcrumb
    li
      a(href="/menu.html")= 'Menu'
    li
      a(href="/language/java.html")= 'Java'
    li.acrive
      a(href="/language/java_tool/maven.html")= 'Ruby on Rails'
  article
    header
      h2= 'Ruby on Rails'
    section
      h3= '未整理リンク'
      br
      a(href="http://qiita.com/r7kamura/items/2e88adbdd1782277b2e7")= 'RailsでAPIをつくるときのエラー処理'
      br
      a(href="http://qiita.com/k0kubun/items/80c5a5494f53bb88dc58")= 'ActiveRecordのjoinsとpreloadとincludesとeager_loadの違い'
      br
      a(href="http://lpic.jp/rubybook/")= '『たった2日でできるRuby』サポートページ'
      br
      a(href="http://qiita.com/ko2ic/items/9204f5dba907dab37a1b")= 'Javaエンジニアがいまさら始めるRuby開発環境'
      br
      a(href="http://kgmx.hatenablog.com/entry/2014/04/08/085425")= 'Rails:SQLiteをやめてPostgreSQLを使う'
      br
      a(href="http://www.atmarkit.co.jp/ait/articles/1409/30/news037.html")= 'RailsテストフレームワークRSpecのインストールと基本的な使い方、基礎文法'
      br
      a(href="")= ''
      br