div.btn-group(role="group")
  button.btn.btn-default(type="button")
    a(href="/index.html")= 'Home'
  button.btn.btn-default(type="button")
    a(href="/menu.html")= 'Menu'
  button.btn.btn-default(type="button")
    a(href="/link.html")= 'Link'
  button.btn.btn-default(type="button")
    a(href="/aboutMe.html")= 'About Me'
a.twitter-follow-button(href="https://twitter.com/PeePeeSE", data-show-count="false")= 'Follow @PeePeeSE'
script
  | !function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');