extends ../templates/template.jade

block head
  title= '暗号化'
  meta(description= 'ぺーぺーSEのブログのまとめページ。暗号化のページ。')

block content
  article
    header
      h2= '暗号化'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= '未整理リンク（セキュリティ全般）'
        br
        a(href="http://qiita.com/kunichiko/items/ef5efdb41611d6cf7775")= '公開鍵暗号と電子署名の基礎知識'
        br
        a(href="https://access.redhat.com/documentation/ja-JP/Red_Hat_Enterprise_Linux/6/html/Security_Guide/index.html")= 'Red Hat Enterprise Linux 6 セキュリティガイド'
        br
        a(href="http://www.slideshare.net/zaki4649/free-securitycheck")= 'フリーでやろうぜ！セキュリティチェック'
        br
        a(href="http://qiita.com/kawasima/items/e48180041ace99842779")= 'セキュリティ監査で文句を言われないHTTPステータスコードの使い分け'
        br