extends ../templates/template.jade

block head
  title= 'Linux'
  meta(description= 'ぺーぺーSEのブログのまとめページ。Linuxのページ。')

block content
  article
    header
      h2= 'Linux'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= 'コマンド'
        p= 'stat'
        p= 'sar'
      section
        h3= '未整理リンク'
        br
        a(href="http://qiita.com/noriaki/items/abd946900f334f4b8652")= 'Qiitaに書くときに示しておきたい環境情報'
        br
        a(href="http://qiita.com/sion_cojp/items/04a2aa76a1021fe77079")= 'インフラエンジニアとしてよく使うコマンド集'
        br
        a(href="http://note.kurodigi.com/linux-systeminfo/")= 'Linuxのシステムやハードウェア情報を取得するコマンドを集めてみた'
        br
        a(href="http://nangoku.hatenadiary.com/entry/2013/03/09/000000")= 'Linuxの性能関連のまとめ'
        br
        a(href="http://qiita.com/0xfffffff7/items/028ff8c920a6a8c67dc5")= '[新卒向け] Linux開発環境の基礎知識'
        br
        a(href="http://qiita.com/aosho235/items/05d4a4f549016e41cde7")= 'suとsudoの違い'
        br