extends ../templates/template.jade

block head
  title= 'Java'
  meta(description= 'ぺーぺーSEのブログのまとめページ。Javaのページ。')

block content
  article
    header
      h2= 'Java'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= 'JavaEE'
        P= 'JAX-RS'
        p= 'JMX'
        P= 'CDI'
        p= 'JPA'
        P= 'JAXB'
        p= 'JSF'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= 'OSSライブラリ・フレームワーク'
        p= 'JUnit'
        a(href="./java_framework/spring.html")= 'Spring Framework'
        p= 'Thymeleaf'
        p= 'Log4j'
        p= 'Logback'
        p= 'Jackson'
        p= 'Hibernate'
        p= 'EasyMock'
        p= 'PowerMock'
        p= 'Mockito'
        p= 'Commons DBCP'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= '開発ツール'
        p='Eclipse'
        p
          a(href="./java_tool/maven.html")= 'Apache Maven'
        p= 'Sonatype Nexus'
        p= 'Apache JMeter'
        p= 'Gradle'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= 'ミドルウェア'
        p= 'Apache Tomcat'
        p= 'JBoss EAP'
        p= 'WebLogic'
        p= 'GlassFish'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= '未整理リンク'
        a(href="http://n-agetsuma.hatenablog.com/entry/2014/08/31/152001")= 'JDK8からあるちょっと嬉しいGCログオプション'
        br
        a(href="http://www.wakhok.ac.jp/~tomoharu/web2004/text/index_c9.html")= 'JavaによるWebアプリケーション入門/セッション管理'
        br
        a(href="http://blog.k11i.biz/2014/09/java-8-base64.html")= 'Java 8 で Base64 エンコーディング機能が導入されたらしいので使ってみた'
        br
        a(href="http://qiita.com/disc99/items/727b51dbe737602a5c91")= 'Javaを使うなら知っておきたい技術、フレームワーク、ライブラリ、ツールまとめ'
        br
        a(href="http://www.slideshare.net/masatoshitada7/stream-api-jjug-ccc-ccc-h2")= 'ステップ・バイ・ステップで学ぶラムダ式・Stream api入門 #jjug ccc #ccc h2'
        br
        a(href="http://lab.bizreach.co.jp/1550/")= 'JavaでやってみるThe Twelve Factor App'
        br
        a(href="http://cco.hatenablog.jp/entry/2014/12/01/162240")= 'CMS GC おさらい'
        br
        a(href="http://javaee.support/")= 'Learn how to use Java EE'
        br
        a(href="http://qiita.com/Kokudori/items/0fe9181d8eec8d933c98")= '検査例外再考'
        br
        a(href="http://x1.inkenkun.com/archives/780")= '最強のJVMチューニング・ツール: GCログを可視化するGCViewerとリモート接続でプロファイリング可能なVisualVM'
        br
        a(href="http://dev.classmethod.jp/server-side/java/classfile-reading/")= 'Javaのクラスファイルをjavapとバイナリエディタで読む'
        br
        a(href="http://www.nagaseyasuhito.net/2014/12/18/462/")= 'JPAでマスター/スレーブ構成のMYSQLを使うぞ'
        br
        a(href="http://d.hatena.ne.jp/yohei-a/20150101/1420112104")= 'Javaのスレッドダンプの読み方'
        br
        a(href="http://instanceofjavaforus.blogspot.jp/2014/12/jvm-architecture.html")= 'JVM Architecture'
        br
        a(href="http://wazanova.jp/items/1664")= 'Java: 本番環境でのデバッグスキルを磨く'
        br
        a(href="http://codezine.jp/article/corner/557")= 'デザインパターンを置き換えよう！ Javaラムダ式によるシンプルコーディング'
        br
        a(href="http://www.slideshare.net/nagaseyasuhito/java-ee-46879618")= '大規模な負荷てでもドキドキしない為のJava EE'
        br
        a(href="http://www.slideshare.net/skrb/java-gc-47402594")= 'Javaのプログラムはどうやって動いているの? GC編'
        br
        a(href="http://www.slideshare.net/skrb/java-jvm")= 'Javaのプログラムはどうやって動いているの? JVM編'
        br
        a(href="http://immutables.github.io/")= 'Immutables 2.0'
        br
        a(href="http://blog.cloudpack.jp/2015/07/15/thinking-about-jvm-heap-memory-monitoring-abstractly/")= 'ふわっと JVM のヒープ領域監視について考える'
        br
        a(href="http://qiita.com/ikemo/items/a27ece72fe2af3683ff6")= 'JavaでのDBのテストデータ作成はDbSetupが楽'
        br
        a(href="http://kokuzawa.github.io/blog/2015/04/07/web-dot-xmlfalsebaziyonbie-dtdxsdfalsexuan-yan-fang-fa/")= 'web.xmlのバージョン別DTD・XSDの宣言方法'
        br
        a(href="http://blog.cybozu.io/entry/2015/12/01/110000")= 'Javaトラブルシューティングガイド'
        br
        a(href="http://d.hatena.ne.jp/megascus/20151205/1449318827")= 'Javaの例外処理について'
        br
        a(href="http://qiita.com/i_matsui/items/aabbdaa169c6ae51ecb3")= 'Java開発の性能改善！ その２ GCログの解析とHeepの設定'
        br
        a(href="http://qiita.com/opengl-8080/items/a9b5d4038f19d4813ee6")= 'MyBatis 使い方メモ'
        br