extends ../templates/template.jade

block head
  title= 'Docker'
  meta(description= 'ぺーぺーSEのブログのまとめページ。Dockerのページ。')

block content
  article
    header
      h2= 'Docker'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= '未整理リンク'
        br
        a(href="http://kray.jp/blog/deploy-docker-with-capistrano/")= 'DockerコンテナをCapistranoでデプロイ'
        br
        a(href="http://www.slideshare.net/ngzm/docker-48648898")= 'Docker基本のおさらい'
        br
        a(href="http://carefree-se.hatenablog.com/entry/2015/06/08/001107")= 'そろそろ本気でDockerを始めるためのTips'
        br
        a(href="http://qiita.com/zembutsu/items/891c7ffd2c36097400b1")= 'Docker 入門ハンズオン資料'
        br
        a(href="http://thinkit.co.jp/story/2015/08/25/6361")= 'Dockerの導入前の設計、CentOS 7.xとDockerのインストール'
        br
        a(href="http://www.slideshare.net/zembutsu/whats-new-aobut-docker-2015-network-and-orchestration")= 'Docker技術情報アップデート v1.9 ネットワークとオーケストレーション'
        br
        a(href="http://qiita.com/kohey18/items/dffe9b11d330576ab852")= '実例で学ぶDockerハンズオン'
        br