extends ../templates/template.jade

block head
  title= 'Git'
  meta(description= 'ぺーぺーSEのブログのまとめページ。Gitのページ。')

block content
  article
    header
      h2= 'Git'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= 'クライアントツール'
        p= 'git'
      section
        h3= 'サーバツール'
        p= 'Github'
        p= 'Gitbucket'
      section
        h3= '未整理リンク'
        br
        a(href="http://syobochim.hatenablog.com/entry/2015/07/26/234605")= '受託開発でGitとmavenを使って開発をしている'
        br
        a(href="http://qiita.com/kgmyshin/items/5d92915b3d0b8c69cfd4")= '【Android】もっと先へ「加速」したくはないか、少年 .gitignore編'
        br