extends ./templates/template.jade

block head
  title= 'About Me'
  meta(description= 'ぺーぺーSEのブログのまとめページ。自己紹介ページ。')

block content
  P= 'ぺーぺーSEです。'
  p
    a(href='http://tanakakns.hatenablog.com/')= 'ぺーぺーSEのブログ'
    | をまとめるためにこのGithub Pasesを作りました。
  p= '某SIerでJava系のソフトアーキやってます。'
  p= 'このサイトからもわかる通り、Java系以外にも手ー出してます。'