extends ./templates/template.jade

block head
  title= 'Home'
  meta(description= 'ぺーぺーSEのブログのまとめページ。トップページ。')

block content
  p
    a(href='http://tanakakns.hatenablog.com/')= 'ぺーぺーSEのブログ'
    | のまとめページ。
  p= 'Github Pagesで作成。'
  p= 'ぺーぺーSEのブログはエントリ単位で一応まとめっているが、１つ１つがエントリとしてバラバラで、古くなったりしてるからまとめることにした。'
  p= 'まだ全然作り始めのサイト。ごめんちゃい。'