extends ./templates/template.jade

block head
  title= 'Menu'
  meta(description= 'ぺーぺーSEのブログのまとめページ。メニューページ。カバーしている技術スタックの一覧。')

block content
  article
    header
      h2= 'メニュー'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= '開発言語'
        P
          a(href="language/java.html")= 'Java'
        p
          a(href="language/javascript.html")= 'JavaScript'
        P
          a(href="language/ruby.html")= 'Ruby'
        p
          a(href="language/python.html")= 'Python'
        P
          a(href="language/php.html")= 'PHP'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= 'バージョン管理'
        p
          a(href="scm/svn.html")= 'SVN'
        p
          a(href="scm/git.html")= 'Git'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= 'Web技術'
        p= 'REST'
        p= 'XML'
        p= 'JSON'
        p
          a(href="web/ldap.html")= 'LDAP'
        p= 'SSH'
        p= '文字コード'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= 'ミドルウェア'
        p= 'Apache Web Server'
        p= 'Nginx'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= 'フロントエンド'
        p= 'HTML'
        p
          a(href="frontend/css.html")= 'CSS'
        p
          a(href="language/javascript.html")= 'JavaScript'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= '自動化'
        p= 'Jenkins'
        p= 'Chef'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= 'OS'
        p= 'Windows'
        p= 'Mac'
        p
          a(href="os/linux.html")= 'Linux'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= 'データベース'
        p
          a(href="db/rdbms.html")= 'RDBMS'
        p
          a(href="db/nosql.html")= 'NoSQL'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= '仮想化'
        p= 'Vagrant'
        p= 'Virtual Box'
        p= 'Terraform'
        P= 'Consul'
        p= 'Docker'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= 'クラウド'
        p= 'AWS'
        p= 'Azure'
        p= 'Heroku'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= '監視'
        p= 'Zabbix'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= '開発方法論'
        p
          a(href="methodology/agile.html")= 'Agile'
        p
          a(href="methodology/ticket.html")= 'チケット管理ツール'