extends ../templates/template.jade

block head
  title= 'Agile'
  meta(description= 'ぺーぺーSEのブログのまとめページ。Agileのページ。')

block content
  article
    header
      h2= 'Agile'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= '方法論'
        p= 'Scrum'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= '未整理リンク'
        br
        a(href="http://www.slideshare.net/aratafuji/a-2a")= 'A 2a：アジャイルなオフショア開発'
        br
        a(href="http://www.slideshare.net/sandinist/bring-up-kanban")= '育てる！かんばん - bring up Kanban.'
        br
        a(href="http://www.slideshare.net/ItsukiSakitsu/agilejapan2015")= '大規模スクラムの失敗から学んだこと #AgileJapan2015'
        br
        a(href="http://www.slideshare.net/kakakakakku/ss-55887167")= 'カンバンを知る'
        br
        a(href="https://seleck.cc/note/atlassian/article/2")= '第2回 アトラシアンにおけるアジャイル開発　スプリント計画の方法'
        br