extends ../templates/template.jade

block head
  title= 'HTML'
  meta(description= 'ぺーぺーSEのブログのまとめページ。HTMLのページ。')

block content
  article
    header
      h2= 'HTML'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= '未整理リンク（フロントエンド全般）'
        br
        a(href="http://googledevjp.blogspot.jp/2014/10/html5rocks.html")= 'HTML5Rocks の日本語記事まとめ'
        br
        a(href="http://www.htmlhifive.com/conts/web/view/library/WebHome")= 'HTML5資料室'
        br
        a(href="http://blog.h13i32maru.jp/entry/2014/12/29/163209")= 'モダンぽいJavaScriptテスト環境の構築メモ'
        br
        a(href="http://www.slideshare.net/rymizuki/ss-43983228")= '最近のフロントエンドツールの紹介'
        br
        a(href="http://media-pickup.com/column/20150215/page-speed-and-yslow-optimization/")= 'ウェブサイトの最適化で表示速度を高速化！「Page Speed」と「YSlow」の設定方法'
        br
        a(href="http://codezine.jp/article/detail/8461")= 'フロントエンド開発が捗るHTTP通信モニタリングツール「Charles」を使いこなす'
        br
        a(href="http://qiita.com/armorik83/items/0860dc097d11f18b9973")= 'もうgulpで憔悴しない - 低依存gulpfileのレシピ'
        br
        a(href="http://todomvc.com/")= 'TodoMVC （JavaScriptフレームワークの比較サイト）'
        br
        a(href="http://sssslide.com/speakerdeck.com/h13i32maru/webhurontoendopahuomansutiyuningu")= 'Webフロントエンドパフォーマンスチューニング'
        br
        a(href="http://www.red.oit-net.jp/tatsuya/js/index.htm")= 'JavaScript文法まとめ'
        br
        a(href="http://coliss.com/articles/build-websites/operation/css/2015-awesome-css-frameworks.html")= '2015年、Web制作者が押さえておきたいCSSの各種リセット、アニメーション、フレームワーク、アイコンのまとめ'
        br
        a(href="http://www.slideshare.net/muyuu/start-react-with-browserify")= 'Start React with Browserify'
        br
        a(href="http://liginc.co.jp/web/programming/node-js/159177")= 'コーディングに関わる人なら抑えておきたい必須のフロント技術＆ツール8選'
        br
        a(href="http://qiita.com/ukiuni@github/items/5f3d8620187905aea3d4")= 'JavaScriptを読んでて「なにこれ！？」と思うけれど調べられない記法8選。'
        br
        a(href="http://pepabo.github.io/docs/frontend/standard/css-architecture/")= 'CSS 設計の長い夢'
        br
        a(href="http://tarohouse.org/archives/395")= '【HTML/CSS/JavaScript】ウェブサイトの背景画像を全画面表示する方法まとめ +α'
        br
        a(href="http://tech.recruit-mp.co.jp/front-end/post-5299/")= 'Jasmine × Karma × Gulp でつくるユニットテスト環境 入門   AngularJS + TypeScript #3'
        br
        a(href="http://qiita.com/KENJU/items/c7fad62a12cc2809b507")= '中上級者になるためのJavaScript【知識編】'
        br
        a(href="http://qiita.com/stkdev/items/cfe4678ac437cb2fdc9f")= 'JavaScript初心者脱却への道のりを考える'
        br
        a(href="http://coliss.com/articles/build-websites/operation/css/viewport-vs-percentage-units-by-ire.html")= '[CSS]ビューポート(vw, vh)とパーセント(%)、レスポンシブに適した単位の賢い使い分け方法'
        br
        a(href="http://coliss.com/articles/build-websites/operation/work/css-guidelines-for-developers-2015-summer.html")= 'CSSを書く、設計する時に参考にしておきたいCSSのガイドライン・スタイルガイドのまとめ'
        br
        a(href="http://coliss.com/articles/build-websites/operation/work/high-performance-html-by-samdutton.html")= 'High Performance HTML'
        br
        a(href="http://commte.net/blog/archives/5402")= '1ページで完結、Web制作者が助かるチートシート・資料・PDFまとめ'
        br
        a(href="https://nulab-inc.com/ja/blog/nulab/css-basics-for-engineer-boxmodel/")= '今更聞けない！エンジニアのための CSS の基礎講座 ボックスモデル編'
        br