extends ../templates/template.jade

block head
  title= '文字コード'
  meta(description= 'ぺーぺーSEのブログのまとめページ。文字コードのページ。')

block content
  article
    header
      h2= '文字コード'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= '未整理リンク'
        br
        a(href="http://taichiw.hatenablog.com/entry/2014/09/17/005208")= 'U+FFFF以上の文字ってなんや　→　サロゲートペアってなんや　→　Spring Web Services が言うことを聞きません！　とかで一日潰れた話'
        br
        a(href="http://www.securesky-tech.com/column/techlog/01.html")= 'Javaと文字コード'
        br