extends ../templates/template.jade

block head
  title= 'LDAP'
  meta(description= 'ぺーぺーSEのブログのまとめページ。LDAPのページ。')

block content
  article
    header
      h2= 'LDAP'
    div.col-xs-6.col-sm-4.col-md-3.col-lg-3
      section
        h3= '実装'
        p= 'Active Derectory'
        p= 'OpenLDAP'